<div class="chat-message">
  <div class="chat-message-role">
    <p class="me-3"><strong>
      <% case message.role %>
        <% when "user" %>
          <%= message.user.username %>
          <img src="<%= message.adventure.character.image_card_url %>" alt="" id="character-image-show-adventure">
        <% when "assistant" %>
          Gamemaster
          <img src="https://cdn.midjourney.com/6dc96cf5-0d3c-4a15-9231-2b89a6b28af0/grid_0.png" alt="" id="gamemaster-image-show-adventure">
        <% end %>
    </strong></p>
  </div>
  <div class="chat-message-content">
    <% if message.content.nil? %>
      <p style="white-space: pre-line;"> Désolé, une erreur est apparue ! Recommencez</p>
    <% elsif message.role == "user" %>
      <p style="white-space: pre-line;"><%= message.content %></p>
    <% else %>
    <p style="white-space: pre-line;"><%= message.content.gsub(/\d\. .+/, '' ).strip %></p>
    <% end %>
  </div>
</div>
