<div class="chat-message">
  <div class="chat-message-role">
    <p class="me-3"><strong>
      <% case message.role %>
        <% when "user" %>
          <%= message.user.username %>
        <% when "assistant" %>
          Gamemaster
        <% end %>
    </strong></p>
  </div>
  <div class="chat-message-content">
    <p style="white-space: pre-line;"><%= message.content.gsub(/\d\. .+/, '' ) %></p>
    <% if Message.last == message %>
      <%= simple_form_for  [@adventure, @message], data: {controller: "adventure-form"} do |f| %>
        <%= f.input :content, :label=> '', as: :radio_buttons, collection: message.content.scan(/\d\. .+/),
                    label_method: lambda {|content| render "select_action", content: content },
                    input_html: {data: {action: "change->adventure-form#submit"}} %>
      <% end %>
    <% end %>
  </div>
</div>
