<div class="chat-message">
  <div class="chat-message-role">
    <p class="me-3"><strong>
      <% case message.role %>
        <% when "user" %>
          <%= message.user.username %>
        <% when "assistant" %>
          Gamemaster
        <% end %>
    </strong></p>
  </div>
  <div class="chat-message-content">
    <% if message.content.nil? %>
      <p style="white-space: pre-line;"><%= Sorry ! An error occurred. Please retry %></p>
    <% elsif message.role == "user" %>
      <p style="white-space: pre-line;"><%= message.content %></p>
    <% else %>
    <p style="white-space: pre-line;"><%= message.content.gsub(/\d\. .+/, '' ) %></p>
    <% end %>
  </div>
</div>
