// .footer-modal {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   text-align: center;
// }

// .modal-content-adventure {
//   background-color: $modal-background;
// }

.adventure-play {
  // background-color: $adventure-play-background;
  // background-image:linear-gradient(170deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(https://media.discordapp.net/attachments/1083356555954622534/1084875851436404836/Sparday_space_spaceship_battle_a1c56058-19ab-4060-9760-4fc9c276475d.png?width=1968&height=1124);
  // height: 100%;
  // width: 100vh;
  color: $adventure-play-text;
  text-shadow: 2px 2px 5px #0e000075;
}

.background-adventures-show{
  background-image: linear-gradient(170deg, rgba(0, 0, 0, 0.25), black), url(https://cdn.midjourney.com/62c1c06b-d11f-4eec-b1ac-b6a0f8d56dfd/grid_0.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  display: block;
  filter: blur(6.25px);
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
  transform: scale(1.1);
}

.bubble {
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  background: #95c2fd;
  padding: 0.5em 1em;
  background: linear-gradient(40deg, rgba(255, 255, 255, 0.2) 00%, rgba(255, 255, 255, 0.3) 100%);
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  word-wrap: break-word;
  font-size: 1em;
  margin-top: 30px;
  opacity: 0;
}

.bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  bottom: 1px;
  transform: rotateZ(-90deg);
  left: -15px;
}

.bubble-alt {
  float: right;
}

.bubble-alt:after {
  left: auto;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  transform: rotateZ(90deg);
  right: -16px;
}

.chat-content {
  width: 100%;
  height: 72vh;
  overflow: scroll;
  border-bottom: 1px solid #ccc;
  // background: linear-gradient(40deg, rgba(255, 255, 255, 0.2) 00%, rgba(255, 255, 255, 0.3) 100%);
}

.chat-message {
  display: flex;
}

.chat-message-role {
  width: 13%;
}

.chat-message-content {
  width: 87%;
}

.chat-form {
  display: flex;
}

.chat-form-input {
  width: 90%;
  flex-grow: 1;
  textarea {
  border-radius: 15px 0px 0px 15px;
  }
}

.chat-form-submit {
  // width: 20%;
  // height: 100%;
}

@media (max-width: 768px) {
  .chat-message {
    display: block;
  }

  .chat-message-role {
    width: 100%;
  }

  .chat-message-content {
    width: 100%;
  }
}

#adventure-text-loader{
  display: none;
  opacity: 0;
  text-align: center;
  background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjRkNDlkOGQ5M2RjZDYyNjY5OTI2NDAzYjA2ZjBkOWVlMTU1YmEyMSZjdD1n/tL5HmgfZi0Qow/giphy.gif');
  position: relative;
  height: 21vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition-duration: opacity 2s ease-in-out;
}

#loading-text-adventure {
  display: none;
  opacity: 0;
  position:relative;
  top: 45%;
  transition-duration: opacity 2s ease-in-out;
  font-weight: bolder;
  text-shadow: 0px 0px 5px #097f91;
  animation: pulse-loader-adventure 1s alternate infinite;
}

.buttons-choice-aventure{
  // display: none;
}

@keyframes pulse-loader-adventure {
  0%{
      text-shadow:
      0 0 2px $blue,
      0 0 6px #dedede;
      ;
  }
}
