.character-creation {
  background: #43434394;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 0 20px #303030;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.character-background {
  background-size: cover !important;
  background-position: center !important;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
  width: 100vw;
}

.title {
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
  flex: 0 1 100%;
  padding: 8px 0px;
  margin-bottom: 0px;
}

.description {
  color: whitesmoke;
  text-shadow: 0 0 10px black;
}

.character-creation-img {
  max-width: 45vw;
  max-height: 45vh;
  border-radius: 10px;
  object-fit: cover;
}

// .mb-3.radio-buttons-required-adventure-difficulty{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin-left: 0;
// }

.form-check {
  padding-left: 0px;
}

@media (max-width: 1024px) {
  .character-creation {
    flex-direction: column;
  }
}

@media (max-width: 1280px) {
  .character-creation{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .title{
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .character-info .character-text {
    padding: 10px;
  }
}
