.universe-background {
  // background-image: url('https://cdn.midjourney.com/461e3adc-3c57-4ee0-a136-5db797c8bae7/grid_0.png');
  background-size: cover !important;
  background-position: center !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100vw;
}

.character-name {
  color: white;
  text-shadow: 0 0 10px black;
}

.description {
  padding: 20px;
  background: #7a7a7a3d;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 0 20px #303030;
  white-space: pre-line;
}
