<div id="side-bar" data-controller="navbar" data-navbar-target="sidebar">
    <div class="toggle-btn" id="btn" data-action="click->navbar#slide">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="ul-navbar">
      <li class="li-navbar">Context</li>
      <li class="li-navbar">Character</li>
      <li class="li-navbar"><%= link_to "Home", root_path, class: "nav-link"%></li>
      <li class="li-navbar" id="profil-sidebar">Profil</li>
      <li class="li-navbar" id="log-out-sidebar"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
    </ul>
  </div>
