<% message.content.scan(/\d\. .+/).each do |content| %>
  <div data-adventure-form-target="button" class='w-50'>
    <div class="h-100 pb-2 mx-1" data-action="click->adventure-form#submit" data-content="<%= content %>">
      <%= render "adventures/select_action", content: content %>
    </div>
  </div>
<% end %>
