<h1>hello</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adventureStart">
  Launch demo modal
</button>

<div data-controller="adventure-modal">
  <div class="modal fade show" id="adventureStart" tabindex="-1" aria-labelledby="adventureStartLabel" aria-modal="true" role="dialog" data-adventure-modal-target="adventureStart">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content align-item-center">
        <div class="modal-content-adventure">
          <div class="container mt-5">
            <div class="d-flex justify-content-between">
              <h1 class="modal-title fs-4" id="adventureStartLabel">Your adventure start here</h1>
              <button type="button" class="btn-close" data-action="click->adventure-modal#close" aria-label="Close"></button>
            </div>
            <p><%= @adventures[0].character.universe.description %></p>
            <div>
              <img src=<%= @adventures[0].character.universe.image_url %> alt="" width="100%">
            </div>
          </div>
          <div class="footer-modal">
            <button type="button" class="btn btn-secondary" data-action="click->adventure-modal#close">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
