<body-uni>
  <div class="background-universe">
    <div class="center">
    </div>

    <div class="title-universe"><h1><strong>Universes<strong></h1></div>
    <div class="container-universe">
      <div class="card-uni card-1">
        <div class="card-content">
          <div class="title-theme">Fantasy</div>
        </div>
      </div>
      <div class="card-uni card-2">
        <div class="card-content">
          <div class="title-theme">Sci-Fi</div>
        </div>
      </div>
      <div class="card-uni card-3">
          <div class="card-content">
            <div class="title-theme text-center">Post-Apocalyptic</div>
          </div>
      </div>
    </div>
  </div>
</body-uni>
