<div class="move-background">
  <div class="container h-screen">
  <h1 class="title-universe">choisissez votre univers</h1>
  <div class="container-universe">
    <% @universes.order(:id).each do |universe| %>
      <%= link_to universe_path(universe) do %>
          <div class="title-theme"><%= universe.theme %></div>
        <div class="card-uni radius-card-universes" style="background: url(<%= universe.image_card_url %>)">
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div id="parent">
  <div class="dynBG">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
  </div>
</div>
