<div class="main-background">
  <div class="center">
  </div>
  <div class="title-universe"><h1><strong>Universes<strong></h1></div>
  <div class="container-universe">
    <%= link_to universe_path(@universes[0]) do %>
      <div class="card-uni card-1">
        <div class="card-content">
          <div class="title-theme">Fantasy
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to universe_path(@universes[1]) do %>
      <div class="card-uni card-2">
        <div class="card-content">
          <div class="title-theme">Sci-Fi</div>
        </div>
      </div>
    <% end %>
    <%= link_to universe_path(@universes[2]) do %>
      <div class="card-uni card-3">
        <div class="card-content text-decoration:none">
          <div class="title-theme text-center">Post-Apocalyptic</div>
        </div>
      </div>
    <% end %>
  </div>
</div>
