.universe-background {
  background-image: url('https://cdn.midjourney.com/461e3adc-3c57-4ee0-a136-5db797c8bae7/grid_0.png');
  background-size: cover;
  background-position: bottom;
  min-height: calc(100vh - 66px)
}
