.btn-homepage{
  border-radius: 10px;
  background-color: $blue;
  padding: 20px 50px;
  border: 1px solid $blue;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition-duration: 0.7s;
  animation: pulse 1s alternate infinite;
  &:hover{
    color: $blue;
    background-color: whitesmoke ;
    border: 1px solid $blue;
    animation: none;
  }
}

.btn-home {
  border-radius: 10px;
  background-color: $color-btn;
  padding: 20px 50px;
  border: 1px solid $color-btn;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition-duration: 0.4s;
  &:hover{
    color: whitesmoke;
    background-color: $darker-blue ;
  }
}

.btn-back {
  border-radius: 10px;
    background-color: #0e000061;
    padding: 20px 50px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    transition-duration: 0.4s;
    &:hover{
      color: whitesmoke;
      background-color: black ;
    }
}

.btn-play {
  border-radius: 0px 15px 15px 0px;
  background-color: $color-btn;
  padding: 10px 25px;
  border: 1px solid $color-btn;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  transition-duration: 0.8s;
  &:hover{
    color: $color-btn;
    background-color: whitesmoke ;
  }
}

.back-btn .btn-back {
  display: inline-block;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .btn-play {
    padding: 0;
  }
}

@keyframes pulse {
  0%{
      box-shadow:
      0 0 2px $blue,
      0 0 6px #dedede;
      ;
  }
}
