.card-display {
  display: flex;
  justify-content: center;
}


.card-product {
  border-radius: 10px;
  background: #C2B99D;
  margin: 10px;
  padding: 0;
  border: none;
  box-shadow: 0 0 20px #303030;
}

.card-product img {
  width: 100%;
  height: fit-content;
  border-radius: 10px 10px 0 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 10px;

}
