.card-display {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  //grid-gap: 2em;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.display-chat {
  border-radius: 10px;
  background: #43434394;
  border: none;
  box-shadow: 0 0 20px #303030;
  backdrop-filter: blur(5px);
  padding: 10px;
}

.card-product {
  border-radius: 10px;
  background: #43434394;
  padding: 0;
  border: none;
  box-shadow: 0 0 20px #303030;
  backdrop-filter: blur(5px);
  width: fit-content;
  align-items:center;
  &:hover {
    transform: scale(1.06);
    transition: transform 0.25s ease;
    color: whitesmoke;
    text-shadow: 0 0 10px black;
    .card-background{
      filter: contrast(107%);
    }
  }

  .card-product-infos {
    padding: 10px;
    color: whitesmoke;
    text-shadow: 0 0 10px black;
  }
}

.card-background {
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
