.character-creation {
  background: #7a7a7a3d;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 0 20px #303030;
  display: flex;
  flex-direction: row;
}

.title {
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
}

.description {
  color: whitesmoke;
  text-shadow: 0 0 10px black;
}

@media (max-width: 1024px) {
  .character-creation {
    flex-direction: column;
  }
}
