@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

.container-universe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em;

}

.title-universe {
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
  padding-top: 2em;
}

.card-uni {
    position: relative;
    height: 320px;
    width: 200px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-border-radius: 100px / 160px;
    -moz-border-radius:    100px / 160px;
    border-radius:         100px / 160px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: all .25s ease;
        z-index: -1;
    }

    &.card-1 {
        &::before {
            background-image: url("https://cdn.midjourney.com/650aba53-94e4-464f-8030-2974cddf8614/grid_0.png");
            background-position: center;
            border-radius:         100px / 160px;

        }
    }

    &.card-2 {
        &::before {
            background-image: url("https://cdn.midjourney.com/6c76b7e2-120c-4e28-9914-e3a3c9285bcc/grid_0.png");
            background-position: left;
            border-radius:         100px / 160px;

        }
    }

    &.card-3 {
        &::before {
            background-image: url("https://cdn.midjourney.com/aaf7127d-3b25-4404-9000-419b1766b8cb/grid_0.png");
            background-position: center;
            border-radius:         100px / 160px;

        }
    }

    .card-content {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        color: #FFF;
        transition: background-color .25s ease, opacity .25s ease;
        opacity: 0;

        .title-theme {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        p {
            text-align: center;
            font-weight: 200;
        }
    }

    &:hover {
        &:before {
            transform: scale(1.2);
        }

        .card-content {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(8px);
        }
    }
}

@media (max-width: 992px) {
    .header-uni {
        padding: 4rem 2rem;
    }

    .container-universe {
        flex-direction: row;
        padding: 0 2rem;
    }

    .card-uni {
        margin: 2rem 0;
        width: 100%;

        &::before {
            background-position: center;
        }
    }
}
