#adventure_character_name {
  background: #bbbbbb94;
  border: none;
  border-radius: 10px;
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: $blue;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: $blue;
  border-radius: 50%;
  transition: left 1s ease;
}

.toggle:checked + label::after {
  background-color: whitesmoke;
  left: 18px;
}

//radio btn

.adventure_difficulty {
  .form-check{
    width: 31%;
  }
  label {
    width: 100%;
  }
}


//radio btn gauthier part

.adventure-play {
  input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
    transform: scale(0);
  }

  /*** CSS - APP USE ***/
  .btn-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
  }

  .btn-wrapper {
    text-shadow: none;
    cursor: pointer;
  }

  .btn-wrapper > * {
    background-color: whitesmoke;
  }

  .btn-body {
    position: relative;
    color: $darker-blue;
    border-radius: 10px;
  }

  .btn-wrapper:hover .btn-body {
    color: whitesmoke;
    border-radius: 10px;
    transition: 0.5s;
  }

  .btn-body::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $blue;
    transition: all 0.6s ease-out;
    border-radius: 10px;

  }

  .btn-wrapper:hover .btn-body::before {
    width: 100%;
  }

  .btn-body p {
    padding: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    transform: skewX(0);
    display: flex;
  }

  .radio_buttons:checked + label .btn-body {
    background-color: $blue;
  }
}

 //jean part
.adventure-new {
  .radio-group {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px 12px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.8s;
    text-align: center;
    color: $dark-blue;
    text-shadow: none;
    &:hover{
      color: $color-btn;
      background-color: white ;
    }
  }

  input[type=radio]:checked + label > .radio-group {
    color: white;
    background-color: $blue;
    border-radius: 5px;
  }
}

#adventure_difficulty_easy {
  display: none;
}

#adventure_difficulty_normal{
  display: none;
}

#adventure_difficulty_hard{
  display: none;
}
