#loader{
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 99995;
  background: linear-gradient(170deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("https://cdn.midjourney.com/7ce3c8ef-6825-4034-b366-32b02e1fc474/grid_0.png");
  background-size: cover !important;
  background-position: center !important;
  cursor: none;
  transition: all 0.3s ease-out;
}

#loader-text{
  position: fixed;
  bottom: 3%;
  right: 2%;
  color: whitesmoke;
  font-size: 24px;
  font-family: $subtitle-main;
  text-shadow: 0px 0px 20px black;
  z-index: 99999;
}


// test
