
#loader{
  display: none;
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
  width: 110vw !important;
  height: 100% !important;
  z-index: 99995 !important;
  background-size: cover !important;
  background-position: center !important;
  cursor: none !important;
  animation: moving-bg 10s alternate infinite !important;
}


#loader-text{
  position: absolute;
  bottom: 3%;
  right: 10%;
  color: whitesmoke;
  font-size: 24px;
  font-family: $subtitle-main;
  text-shadow: 0px 0px 20px black;
  z-index: 99999;
  animation: moving-backwards-text 10s alternate infinite;
}

// test
@keyframes moving-bg {
  from{
    transform: translateX(-40px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes moving-backwards-text {
  from{
    transform: translateX(40px);
  }
  to {
    transform: translateX(0px);
  }
}
