.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.img-modal {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.character-modal {
  .modal-dialog {
    width: 80vw;
    max-width: unset !important;
    border-radius: 10px;
  }
}

.modal-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
