.modal-content {
  background-color: transparent;
  border: none;
  padding: 2em;
  backdrop-filter: blur(3px);
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.img-modal {
  max-width: 45vw;
  max-height: 45vh;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px #303030;
  justify-self: center;
}

.character-modal {
  .modal-dialog {
    width: 80vw;
    max-width: unset !important;
    border-radius: 10px;
  }
}

.modal-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

@media (max-width: 1024px) {
  .modal-display {
    padding: 1em;
  }

  .modal-content {
    padding: 1em;
  }

  .character-modal {
    .modal-dialog {
      width: 95vw;
    }
  }
}


@media (max-width: 1280px) {
  .character-modal {
    .modal-dialog {
      height: 50%;
    }
  }
}
